__pycache__/
*.py[cod]
.venv/
venv/
.env
.idea/
.streamlit/secrets.toml
outputs/

# Banco de Dados (ignora por padrão, mas permite o banco do dashboard)
*.sqlite
*.db
!data/database.sqlite

# Dados Processados
data/processed/
!data/processed/.gitkeep
